@import "react-slideshow-image/dist/styles.css";

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.circular-btn {
  border-radius: 30px;
}

.circular-btn:hover {
  background-color: #274494 !important;
}


.summary-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.back-ico {
  animation: back 1s infinite alternate ease-in-out
}

@keyframes back {
  from {transform: translateX(0)}
  to {transform: translateX(-10px)}
}

.success-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
  height: 50%;
  padding: 20px;
  border-radius: 20px;
}

.icon {
  margin: 5px 0;
  /* width: 400px; */
}

.title {
  margin: 5px 0;
  color: #274494;
  text-transform: capitalize
}

.email-msg {
  margin: 5px 0;
  font-weight: 900
}

.description {
  margin: 5px 0;
  margin-bottom: 70px;
}

.email {
  text-decoration: none;
  margin-left: 5px;
  color: #e7655e;
}

.btn {
  display: block;
  background: #d34a4a;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  font-size: 14px;
  transition: all .3s;
  border: none;
}

.btn:hover {
  background-color: #e88383;
  cursor: pointer;
}

.btn:active {
  width: 78%;
  background: #d34a4a;
}
